body{
  background-color: rgb(3, 50, 100);
}
.square{
  height: 50px;
  width: 50px;
  font-size: 20px;
}
.board-row{
  display: flex;
}
.game{
  display: flex;
  justify-content: center;
  gap: 5;
  margin-top: 20vh;
}
.game-info ol {
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke;
}
.game-info ol li{
 cursor: pointer;
}
.game-info ol li div{
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke;
  padding-bottom: 10px;
}
.status{
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke;
}